@import url(./vars.css);

body{
    background: var(--clr-main-bg);
    display: grid;
    margin: 0;
    padding: 0;

}

.hero-container{
    background: url(../imgs/banner-creme-brulee.jpg); 
    padding: 0; 
    color: #fff; 
    background-size: cover;
    color: var(--clr-white);
    height: min(40rem, 45rem, 50rem);
    text-align: center;
    width: 100%;
}

.logo{
    display: flex;
}

#logo-text{
    margin-left: 20px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-lg);
    color: var(--clr-white);
    
}
nav {
    background-color: var(--clr-primary);
    margin: 0; 
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-lg);
    
}

#nav-logo{
    
    width: 50px;
    margin: 8px 10px 8px 70px;
}

.menu {
    list-style: none; 
    display: flex;
    margin-left: 100px;
}

.menu li {
    margin-right: 20px; 
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.menu a:hover {
    color: #333; 
}

.icons{
    display: flex;
}

#shopping-cart{
    width: 60px;
    margin: 8px 10px 8px 130px;
}

#user-menu{
    width: 60px;
    margin: 8px 10px 8px 10px;
}

.hero-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(var(--fs-lg),4rem,var(--fs-xl)); 
    margin: 100px 0 0 0 ;
}

.hero-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-md);
    width: clamp(100ch, 50%, 55ch);
    margin: 90px auto 2rem;  
}

.search-container {
    display: flex;
    max-width: 600px;
    margin: 100px auto 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-lg);
}

#search-input {
    flex-grow: 5;
    padding: 10px;
    border: 10px solid var(--clr-main-bg);
    border-radius: 50px 50px 50px 50px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-lg);
}

#search-button {
    position: absolute;
    background-color: var(--clr-primary);
    color: #fff;
    border: none;
    border-radius: 30px 30px 30px 30px;
    padding: 10px 37px;
    cursor: pointer;
    outline: none;
    right: 10px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-lg);
}

.menu-section{
    display: flex;
    justify-content: space-between;

}

.menu-titles{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 78px;
    margin-top: 50px;
    font-style: bold;
    font-size: var(--fs-md);
}

.menu-titles h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-primary);
    font-size: var(--fs-md);
    font-style: italic;
    margin-top: 50px;
}

.menu-titles h3 {

    margin-top: 0;
}

.menu-buttons{
   margin-top: 150px;
   margin-right: 70px;
}
.button{
    background-color: var(--clr-white);
    border: none;
    color: var(--clr-primary);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-primary);
    padding: 4px 10px;
}

.button:hover{
    background-color: var(--clr-primary);
    color:var(--clr-white);

}

.menu-carts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px auto 75px;
    
}

.menu-cart{
    display: flex;
    flex: 0 0 23%;
    border: 1px solid #ccc;
    margin: auto 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    overflow: hidden; 
    height: 66vh;
    flex-direction: column;
    margin-bottom: 30px;

}

.menu-image{
    flex: 2;
    display: flex;
    
}
.menu-image img{
    width: auto;
    height: auto;
    max-width: 100%;
}

.menu-info{
    padding: 10px;
    flex: 1;
    background-color: var(--clr-white);
   
}

.menu-info h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-md);
}

.menu-info h3{
    font-size: var(--fs-md);
    color: var(--clr-primary);
    font-family: Arial, Helvetica, sans-serif;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-container img {
    width: 20px; 
    height: 20px; 
    margin: 5px; 
}

.m-see-more{
   position: relative;
   right: 45px;
   border: 3.5px solid var(--clr-primary);
}

.m-heart {
    
    
    
    width: 33px; 
    height: 33px;
    background-image: url(../imgs/icons/corazon-rojo.svg);
    background-size: 70%; 
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    left: 40px;
    padding: 10px;
    border: 3px solid var(--clr-primary);
}
 
.m-heart:hover{
    background-image: url(../imgs/icons/corazon-blanco.svg);
}

.m-cart{
    width: 33px; 
    height: 33px;
    background-image: url(../imgs/icons/carrito-de-compras-rojo.svg);
    background-size: 70%; 
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    left: 37px;
    padding: 10px;
    border: 3px solid var(--clr-primary);

}

.m-cart:hover{
    background-image: url(../imgs/icons/carrito-de-compras.svg);
}




.footer{
    background: var(--clr-secondary);
    margin-top: 5rem;
    display: grid;
}

.footer-container{
    display: grid;
}

.footer-logo{
    display: flex;
}

#ft-logo{
    width: 50px;
    margin: 50px 10px 8px 70px;
}

#footer-logo-text{
    margin-left: 20px;
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-lg);
    color: var(--clr-white);
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}

.footer-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-sm);
    color: var(--clr-white);
    margin-left: 80px;  
    margin-top: 20px;
    
}

.footer-legal{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-sm);
    color: var(--clr-white);
    margin-top: 50px;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-sm);
    color: var(--clr-white);
}

.nav-bottom-list{
    list-style-type: none;
    padding: 0;
}

.nav-bottom-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-sm);
    color: var(--clr-white);
}

.download-app{
    display: grid;
    margin-top: 50px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-sm);
    color: var(--clr-white);
}

.cta-app-container{
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 430px) {

    .nav-container{
        width: 100%;
    }


    #nav-logo{
        width: 10vw;
    }

    #logo-text{
        padding-left: 5%;
    }

    .icons{
        display: none;
    }

    .hero-title{
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-text{
        width: 100vw; 
    }

    .hero-container{
        width: 100%;
        height: 120vh;
        align-content: center;
        background: url(../imgs/rsp-banner-creme-brulee.jpg);
        background-repeat: no-repeat;
    }

    .search-container {
        max-width: 400px;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 20%;
    }

    #search-input {
        font-size: var(--fs-md);
    }

    #search-button {
        font-size: var(--fs-md);
    }
    
    .menu-section{
        width: 100vw;
    }











    .mobile-btn{
        position: fixed;
        top: 3rem;
        right: 4rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 3;
    }

    .mobile-btn > span,
    .mobile-btn > span::before,
    .mobile-btn > span::after{
        display: block;
        position: absolute;
        width: 100%;
        height: .3rem;
        background: var(--clr-secondary);
        transition-duration: .25s;
    }

    .mobile-btn > span::before{
        content: '';
        top: -.5rem;
    }

    .mobile-btn > span::after{
        content: '';
        top: .5rem;
    }

    /*mobile check*/
    .mobile-check{
        opacity: 0;
        position: fixed;
        top: 2.5rem;
        right: 4.25rem;
        z-index: 4;
    }

    .mobile-check:checked + .mobile-btn > span{
        transform: rotate(45deg);
    }

    .mobile-check:checked + .mobile-btn > span::before{
        top: 0;
        transform: rotate(0deg);
    }

    .mobile-check:checked + .mobile-btn > span::after{
        top: 0;
        transform: rotate(-90deg);
    }

    .mobile-check:checked ~ .menu{
        right: 0;
    }
    /*mobile check*/
    
    .menu{
        display: grid;
        position: fixed;
        margin: 0;
        top: 0;
        right: -20rem;
        width: 50%;
        height: 100vh;
        background: var(--clr-primary);
        align-content: center;
        text-align: left;
        padding-left: 2rem;
        z-index: 2;
        transition: right .25s;
    }
    
}