.hero-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-md);
    width: clamp(100ch, 50%, 55ch);
    margin: 4rem auto 2rem; 
    
}



#offer-title{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-primary);
    font-size: var(--fs-md);
    font-style: italic;
    margin-top: 6.25rem;
    
}

#offer-titles{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 4.875rem;
    font-style: bold;
    font-size: var(--fs-md);
}
#offer-subtitle{
    margin-top: 0;
}

.hero-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(var(--fs-lg),4rem,var(--fs-xl)); 
    /*width: 15ch; /* esta unidad "CH" mide la cantidad de caracteres*/
    margin: 6rem 0 0 0 ;
}

.promotion h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1.5rem;
    
}

.promotion p {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
}


.discount h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    margin: 0.625rem 0.625rem;
    color: var(--clr-white);

}

.menu-titles{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 4.875rem;
    font-style: bold;
    font-size: var(--fs-md);
}

.menu-titles h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-primary);
    font-size: var(--fs-md);
    font-style: italic;
    margin-top: 3.125rem;
}

.menu-titles h3 {

    margin-top: 0;
}

.menu-info h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-md);
}

.menu-info h3{
    font-size: var(--fs-md);
    color: var(--clr-primary);
    font-family: Arial, Helvetica, sans-serif;
}

.catalog-titles{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 4.875rem;
    font-style: bold;
    font-size: var(--fs-md);
}

.catalog-titles h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-primary);
    font-size: var(--fs-md);
    font-style: italic;
    margin-top: 3.125rem;
}
.typ{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-primary);
    font-size: var(--fs-md);
    margin-top: 3.125rem;
    font-style: bold;
}

.catalog-titles h3 {
    margin-top: 0;
}


/*category page */

.title-zone-a{
    background-color: var(--clr-white);
    width: 30vw;
    height: 30vh;
    margin: 100px 80px 0 40px;
    border: 1px solid #ccc;
    border-bottom: none;
}

.title-zone-b{
    background-color: var(--clr-white);
    width: 30vw;
    height: 10vh;
    margin: 100px 80px 0 40px;
    border: 1px solid #ccc;
    border-bottom: none;
}


#main-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-nm);
    color: var(--clr-primary);
    padding: 15px 0 5px 10px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-bottom: auto;
}

.recom-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-sm);
    color: var(--clr-black);
    padding-left: 20px;
}

.title-style{
    font-size: var(--fs-lg);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}

.desc-style{
    font-size: var(--fs-nm);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
}

.popular-title-zone{
    background-color: var(--clr-white);
    max-width: 40vw;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
}